// variables

$orange: #f55B05;
$black: black;
$white: white;
$grey: grey;
$blacktransp: rgba(0, 0, 0, 0.3);
$red: red;
$black2: rgba(0, 0, 0, 0.7);
$greytrans: rgba(128, 128, 128, 0.2);
$blackfoot: #161616;
$phone: 460px;
$tablet: 768px;
$ordi: 960px;