@import "reset";
@import "layouts";

body {
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: $ordi) {

    header {
        position: fixed;
        width: 100%;
        height: 135px;
        z-index: 10;

        #orangeLogo {
            height: 67px;
            width: 100%;
            background: $orange;
                img {
                    display: block;
                    margin: auto
                }
            
                #menuToggle {
                    display: none
                }
        }

        #titreBlack {
            background: $black;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            height: 30px;
            width: 100%;
            line-height: 30px
        }

        #titreBlack h1 {
            font-size: 18px
        }

        nav {
            height: 38px;
            width: 100%;
            background: $white
        }

        #liens {
            display: flex;
            list-style: none;
            justify-content: center;
        }

        #liens li {
            border-right: 1px solid $orange;
            a {
                padding-left: 30px;
                padding-right: 30px;
                text-decoration: none;
                text-align: center;
                font-size: 20px;
                line-height: 38px;
                color: $grey;

                &:hover {
                    color: $white;
                    transition: .5s;
                }
            }

            &:hover {
                background: $orange;
                transition: .5s
            }
        }

        #liens li:first-child {
            border-left: 1px solid $orange
        }
    }

    #video {
        width: 100%;
        height: 100vh;
    
        #bgvideo {
            position: fixed;
            top: -90px;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            background-size: cover
        }

        video {
            display: block
        }

        
        

        #puma {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 180px;

            #logoPuma {
                height: 80px;
                width: 110px;
            }

            hr {
                border: none;
                width: 45px;
                height: 8px;
                background: $orange;
                
            }

            p {
                font-size: 40px;
                font-weight: bold;
                color: $white;
                margin-top: 30px;
            }

            a {
                border: solid 3px $orange;
                width: 160px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                color: $orange;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: bold;
                border-radius: 10px;
                margin-top: 40px;

                &:hover {
                    color: $white;
                    border: solid 3px $white;
                    background: $orange;
                    transition: .5s
                }
            }
        }
    }

    #nixon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: -200px;
        
        .content {
            perspective: 800px
        }
        
        article.content:hover .hand {
            transform: rotateX(-180deg);
            transform-origin: 0px 127px
        }
        
        article.content, .front, .back {
            width: 378px;
            height: 255px;
            min-height: 100px;
        }
        
        .hand {
            transition: .6s;
            transform-style: preserve-3d
        }
        
        .front, .back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0
        }
        
        .front {
            transform: rotateX(0deg);
        }
        
        .back {
            transform: rotateX(180deg);
            padding: 20px;
            background: $blacktransp;
            color: $white;

            a {
                display: block;
                border: solid 3px $orange;
                width: 160px;
                height: 60px;
                padding-bottom: 20px;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                color: $orange;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: bold;
                border-radius: 10px;
                margin: auto;
                margin-top: 20px;
                &:hover {
                    color: $white;
                    border: solid 3px $white;
                    background: $orange;
                    transition: .5s
                }
            }
        }

        .content:first-child {
            &:hover .hand {
                transform-origin: center;
                transform: rotateY(180deg);
            }
        
            .front {
                transform: rotateY(0deg)
            }
        
            .back {
                transform: rotateY(180deg);
                
            }
        }   
    }

    #fromTheBlog {
        width: 100%;
        height: 100%;
        background: $black2;
        text-align: center;
        padding-top: 40px;

        h2 {
            color: $red;
            margin-bottom: 10px;
            font-size: 40px;
        }

        #pfrom {
            color: $white;
        }

        #readMore a {
            text-transform: uppercase;
            display: block;
            width: 190px;
            height: 60px;
            border: solid 2px $white;
            text-decoration: none;
            color: $white;
            border-radius: 5px;
            line-height: 60px;
            margin: 100px auto 200px;

            &:hover {
                border: solid 2px $orange;
                color: $orange;
                transition: .5s
            }
        }
    }

    .panel {
        display: flex;
        flex-wrap: wrap;
        width: 96%;
        margin: 40px auto 0;
        justify-content: center;
        perspective: 800px;

        >figure {
            width: 25%;
            min-width: 320px;

            img {
                width: 100%;
                height: 100%;
            }
        }
        
        .front2:hover {
            transform: rotateY(-180deg);
            transform-origin: center;
        }

        .front2 {
            transform: rotateY(0deg);
            transition: .6s;
            transform-style: preserve-3d;

        }

        .carre{
            display: flex;
            flex-wrap: wrap;
            width: 25%;
            min-width: 320px;
            background: $white;

            p {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $greytrans;
                text-align: center;
                border-radius: 10px;
                font-size: 20px;
                color: $black;
                font-weight: 700;
            }

            figure {
                width: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    filter: grayscale(1);
                    transition: .5s;

                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }



    footer {
        width: 100%;
        height: 100%;
        background: $blackfoot;
        
        .partenaires {
            width: 100%;
        
            figure {
                width: 100%;
            }
        
            img {
                width: 100%;
                height: 100%
            }
        }

        span {
            display: block;
            width: 40px;
            height: 40px;
            background: $orange;
            z-index: 22;
            position: relative;
            margin: auto;
            bottom: 25px;
            text-align: center;
            transition: .5s;
            
            .fa-angle-up {
                color: $white;
                position: relative;
                line-height: 35px;
                visibility: hidden;
                margin-left: -4px; 
                transform: rotate(-45deg);  
            }

            &:hover {
                transform: rotate(45deg);
                text-align: center;
                
                .fa-angle-up {
                    visibility: visible;
                    
                }
            }
        }

        #links {
            list-style: none;
            display: flex;
            justify-content: space-around;
            line-height: 120px;
            padding: 50px 250px 0

        }

        #links a {
            text-decoration: none;
            color: $grey;

            &:hover {
                color: $orange;
                transition: .5s
            }
        }

        #socials {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            height: 50px;
            padding: 0 200px;

            .hr {
                border: none;
                width: 600px;
                height: 1px;
                background: $grey;
                line-height: 50px;  
            }

            i {
                width: 38px;
                height: 38px;
                border: solid 1px $grey;
                border-radius: 50%;
                padding: 10px;
                color: $grey;
                text-align: center;
                margin: 0px 10px;

                &:hover {
                    border: solid 1px $orange;
                    color: $orange;
                    transition: .5s
                }
            }
        }

        p {
            color: $white;
            display: flex;
            justify-content: center;
            margin: 50px 0
        }
    }
}

@import 'responsive';